# 1. Entornos Virtuales (Python)
venv/
backend/venv_backend/

# 2. Dependencias de React/Node (JavaScript)
node_modules/
frontend/node_modules/

# 3. Variables de entorno y secretos (Zero Data Leakage)
.env
backend/.env
frontend/.env

# 4. Archivos basura de Python y caché
__pycache__/
.pytest_cache/
*.pyc